.my-account {

  .left {
    width: 250px;
  }

  .user-car {
    padding: 10px;
    background: #fff;
    border-radius: 5px;

    h1 {
      line-height: 30px;
      text-align: center;
      background: #218ba1;
    }
  }
}
