.Word-list {  
  ul {
    border-radius: 10px;
  }

  li {
    border-right: 10px solid #1a7d91;
    border-bottom: 5px solid #1a7d91;
  }

  li:last-child {
    border-bottom: none;
  }

  .checkbox {
    position: relative;
    width: 80px;
    text-align: center;
    background: #1a7d91;
  }

  .circle {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #1a7d91,
                0 0 0 4px #218ba1,
  }

  .spain {
    background: #25e1ae;
  }

  .word-info {
    padding: 20px 10px;
    background: #218ba1;

    h1 {
      margin-bottom: 10px;
      font-size: 18px;
      color: #fff;
    }

    p {
      font-size: 16px;
      color: #a6ccd1;
      margin-top: 10px;
    }
  }
}
