.wordList{
  
  .save {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    background: #1a7d91;
  }

  .save:active {
    background: red;
  }
 
}

